/* Reset styles to ensure consistency across browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/* Base styles for all devices */
* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
}

img {
    width: 100%;
    max-width: 100%; /* Ensures images don't exceed their container */
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.top {
    padding: 10px;
}

/* Adjustments for tablets and larger screens */
@media(min-width: 355px) {
    .mobile-only {
        display: none;
    }
    .tablet-only {
        display: block;
    }
}

/* Adjustments for desktop and larger screens */
@media(min-width: 700px) {
    .mobile-only,
    .tablet-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}

/* Styles for headings */
h1,
h2 {
    font-family: Georgia, serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-size: 1.7em;
    font-weight: 300;
}

h3.flex-hed {
    font-size: 1.5em;
    padding: 10px;
}

/* Styles for figures and images */
figure {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 600px;
}

figcaption {
    font-size: 1.2em;
    padding: 10px;
}

.sub_cap {
    font-size: .8em;
}

.credit {
    color: gray;
}

.img_holder,
.text {
    font-size: 1.4em;
    padding: 10px;
}
